@import url('https://fonts.googleapis.com/css2?family=Basic');

html, body {
    overflow: hidden;
    background: transparent;
    padding: 0;
    margin: 0;
}

.text-center {
    text-align: center;
}

.red {
    color: #ff0000;
}

.p-4 {
    padding: 4px;
}

#container {
    display: block;
    padding: 0;
    margin: 0;
    text-align: center;
}

.alertItem {
    display: block;
    margin-top: 100px;
}

.alertItem span.username {
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 45px;
    display: block;
}

.alertItem span.channel {
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 45px;
    display: block;
}

.alertItem span.viewers {
    color: #fff;
}

.alertItem span.method {
    color: #fff;
}

.alertItem p.message {
    margin-top: 0;
    z-index: 99;
    position: relative;
    animation: glow 1s ease-in-out infinite alternate;
    color: #ffffff;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Basic', sans-serif;
    text-align: center;
}

.alertItem .image {
    z-index: 1;
    border: solid 0 transparent;
    border-radius: 10px;
    animation: grow 1s;
}

.alertItem .logo {
    z-index: 1;
    border: solid 0 transparent;
    border-radius: 50%;
    max-width: 250px;
    min-width: 250px;
    background: transparent;
    animation: grow 1s, down-up 1s ease-in-out infinite alternate;
}

.alertItem audio {
    display: none;
}

.alertItem video {
    max-width: 350px;
    max-height: 350px;
    text-align: center;
    z-index: 1;
    border: solid 0 transparent;
    border-radius: 10px;
    animation: grow 1s;
}

.alertItem image {
    text-align: center;
    max-width: 350px;
    max-height: 350px;
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #0000ff, 0 0 20px #fff, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
        text-shadow: 0 0 20px #0000ff, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 50px #ff0000, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

@keyframes down-up {
    from {
        margin: 0 0 0 0;
    }
    to {
        margin: 10px 0 0 0;
    }
}

@keyframes grow {
    from {
        transform:scale(0);
    }
    to {
        transform:scale(1);
    }
}